<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <title>Welcome to ExpressJS</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to ExpressJS</h1>
        <p>This template is customized from this <a href="https://github.com/paulexconde/express-template" target="_blank">repo</a>.</p>
        <p>You can visit the official <a href="https://expressjs.com" target="_blank">Express docs</a> for more info.</p>
    </div>
</body>
</html>

<style>
body{
    display: flex;
}
.container{
    /* border: 1px solid lightgray; */
    position: absolute;
    top:  30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
}

h1{
    font-size: 52px;
}

p{
    text-align: center;
}
</style>